/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.header,
.top {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: $black;

    &:hover {
      @include media-breakpoint-down(sm) {
        color: $white;
      }
      
      @include media-breakpoint-up(md) {
        color: $red;
      }
    }
  }
}

.top {
  text-align: right;

  @include media-breakpoint-down(sm) {
    background: $yellow;
  }

  @include media-breakpoint-up(md) {
    background: $yellow;
    background: linear-gradient(0deg, $white 0%, $white 50%, $yellow 50%, $yellow 100%);
  }

  ul {
    font-size: 0;
  }

  li {
    display: inline-block;

    a {
      color: $white;
      display: block;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;

      &:hover {
        background: darken($red, 10%);
        color: $white;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include media-breakpoint-up(md) {
        background: $red;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &:last-child {
      a {
        @include media-breakpoint-up(md) {
          background: $dark-red;

          &:hover {
            background: darken($dark-red, 5%);
          }
        }
      }
    }
  }
}

.header {

  .logo {
    height: auto;
    width: 180px;
  }

  .textwidget {
    p {
      margin: 0;
      white-space: nowrap;

      a {
        display: inline-block;
        line-height: 1;
        padding-left: 33px;
        position: relative;

        @include media-breakpoint-down(sm) {
          color: $white;
          
          &:before {
            background: url(../img/icon-phone-white.png) center center no-repeat;
          }
        }
        
        @include media-breakpoint-up(md) {
          color: $red;
          
          &:before {
            background: url(../img/icon-phone-red.png) center center no-repeat;
          }
        }

        &:before {
          background-size: contain;
          content: '';
          height: 25px;
          position: absolute;
            top: -6px;
            left: 0;
          transition: all .2s;
          width: 25px;
        }

        &:hover {
          &:before {
            transform: scale(1.15);
          }
        }
      }
    }
  }
}
