/*-----------------------------------------------------------------------------------*/
/* Homepage
/*-----------------------------------------------------------------------------------*/

.home-section {
  h1, h2, h3, h4 {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.home-section-1 {
  @include media-breakpoint-down(sm) {
    background-image: none !important
  }

  @include media-breakpoint-up(md) {
    background-repeat: no-repeat;
    background-size: contain;
    color: $white;
    position: relative;
  }

  .container {
    @include media-breakpoint-up(md) {
      position: absolute;
        top: 50%;
        left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h2 {
    margin-bottom: ($spacer * 3);

    @include media-breakpoint-up(md) {
      font-size: 57px;
    }
  }

  h3 {
    font-weight: normal;
    margin-bottom: ($spacer / 2);

    @include media-breakpoint-down(sm) {
      font-size: $default-font-size;
    }

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }

  img {
    @include media-breakpoint-up(md) {
      visibility: hidden;
    }
  }
}

.home-section-2 {
  img {
    max-width: 400px;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}


.home-section-3 {
  color: $white;

  h2 {
    font-size: 47px;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: ($spacer / 2);
    text-transform: uppercase;
  }

  h4 {
    font-size: 17px;
    margin-bottom: ($spacer / 2);
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  a {
    color: $white;

    img {
      transition: all .2s;
    }

    &:hover {
      border-bottom-color: $white;

      img {
        transform: scale(1.1);
      }
    }
  }
}

.home-section-3-col-1 {
  background: $dark-blue;

  > div {
    @include media-breakpoint-up(md) {
      max-width: 350px;
    }
  }
}

.home-section-3-col-2 {
  background: $medium-blue;

  img {
    max-height: 55px;
  }

  div[class*="col-"] {
    > div {
      @include media-breakpoint-up(md) {
        max-width: 180px;
      }
    }
  }
}

.home-section-4 {
  background: $light-blue;

  h3 {
    font-size: 17px;
    margin-bottom: ($spacer);
    text-transform: uppercase;
  }

  img {
    max-height: 60px;
    transition: all .2s;
    width: auto;
  }

  a {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  div[class*="col-"] {
    > div {
      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
    }
  }
}

.home-section-5 {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  h2 {
    font-size: 47px;
    margin-bottom: ($spacer);

    &:first-line {
      display: block;
      font-size: 26px;
    }
  }
}

.home-section-6 {
  blockquote {
    background: url(../img/icon-quote.png) top center no-repeat;
    background-size: auto 25px;
    padding-top: ($spacer * 2.5);
  }

  cite {
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    margin-top: ($spacer / 2);
    text-transform: uppercase;
  }

  div[class*="col-"] {
    > div {
      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
    }
  }
}
