/*-----------------------------------------------------------------------------------*/
/* Variables
/*-----------------------------------------------------------------------------------*/

// Colors
$black:                 #000;
$dark-blue:             #173044;
$medium-blue:           #68ace2;
$light-blue:            #e9f0f6;
$orange:                #ff9c29;
$white:                 #fff;

$default-font-color:    $dark-blue;
$default-link-color:    $orange;

// Typography
$default-font-family:   'Avenir LT Std', Helvetica, Arial, sans serif;
$default-font-size:     16px;
$default-line-height:   1.4;
