/*-----------------------------------------------------------------------------------*/
/* Variables
/*-----------------------------------------------------------------------------------*/

// Colors
$black:                 #100104;
$dark-red:              #3c030c;
$light-gray:            #eee;
$red:                   #cd102d;
$white:                 #fff;
$yellow:                #f9a72a;

$default-font-color:    $black;
$default-link-color:    $red;

// Typography
$default-font-family:   'Avenir LT Std', Helvetica, Arial, sans serif;
$default-font-size:     16px;
$default-line-height:   1.4;
